{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{% embed '@components/03-modules/media/media--image.twig' with {
  modifier: elements['#media'].bundle.entity.id
}%}
  {% block content %}
    {{ content.field_media_image }}
    {% if content.field_caption %}
      <figcaption>{{ content.field_caption }}</figcaption>
    {% endif %}
  {% endblock %}
{% endembed %}

