.navigation {
  @include z-index(navigation);

  @include to($breakpoint--mobile) {
    height: $header-height-s;
    position: relative;
  }

  &__toggle {
    @include reset-button-styles;

    @include to($breakpoint--mobile) {
      position: relative;
      transform: none;
      display: flex;
      align-items: center;
      justify-content: center;

      width: $icon-container-size-s;
      height: $icon-container-size-s;

      margin-right: ($icon-container-size-s - $icon-size--s) * -0.5;

      @include z-index(navigation-toggle);

      &:hover,
      &:focus {
        background: transparent;
        color: $color--black;
      }

      &:focus {
        outline: none;
        border: none;
        box-shadow: $outline--default;
      }

      .icon--menu-close {
        display: none;
        .navigation--open & {
          display: block;
        }
      }

      .icon--menu-open {
        display: block;
        .navigation--open & {
          display: none;
        }
      }
    }

    @include from($breakpoint--desktop) {
      display: none;
    }
  }

  &__content {
    @include z-index(navigation-content--desktop);

    @include to($breakpoint--mobile) {
      @include z-index(navigation-content--mobile);
      position: fixed;
      left: 0;
      top: $header--total-height-s;
      width: 100%;
      padding: $page--margin--s;
      box-sizing: border-box;

      overflow-y: scroll;
      background-color: $color--white;

      visibility: hidden;
      transform: translateY(-100%);
      transition: transform $animation--duration--m $animation--timing--default, visibility 0s linear $animation--duration--m;

      body.navigation--open & {
        visibility: visible;
        transform: translateY(0);
        transition: visibility 0s, transform $animation--duration--m $animation--timing--default;
      }
    }
    @include from($breakpoint--desktop) {
      display: flex;
    }
  }
}

body.navigation--open {
  overflow-y: hidden;
}
