<div class="navigation">
  <button
    class="navigation__toggle"
    aria-label="{{ 'Open navigation'|t }}"
    aria-expanded="false"
    aria-controls="navigation">
    {% embed '@components/03-modules/icon/icon-use.twig' with { name: 'menu-close' } %}{% endembed %}
    {% embed '@components/03-modules/icon/icon-use.twig' with { name: 'menu-open' } %}{% endembed %}
  </button>
  <nav class="navigation__content" id="navigation" role="navigation">
    {% block navigation %}
      {% embed '@components/03-modules/menu/menu.twig' with {
        menu_name: main_menu.menu_name,
        attributes: main_menu.attributes,
        modifier: main_menu.modifier,
        items: main_menu.items,
      } %}
      {% endembed %}
    {% endblock %}
  </nav>
</div>
