{% set classes = [
  'popup-gallery',
] %}

{% set wrapper_classes = [
  'popup-gallery__wrapper',
] %}

{% set item_classes = [
  'popup-gallery__item',
] %}

<section{{ create_attribute().addClass(classes) }}>
  <div{{ create_attribute().addClass(wrapper_classes) }}>
    {% for image in images %}
      <a{{ create_attribute().addClass(item_classes) }}
        href="{{ image.fallback }}"
        data-photoswipe="{{ image.photoswipe_data }}">
        {% block popup_gallery_image %}
          {% include "@components/03-modules/media/media--image.twig" with { src: 'https://source.unsplash.com/random/1200x1600?trenchcoat&sig=' ~ i } %}
        {% endblock %}
      </a>
    {% endfor %}
  </div>
</section>
