{#
<ol class="breadcrumb">
  {% for item in items %}
    <li class="breadcrumb__item">
      {% if item.url %}
        <a
          class="breadcrumb__item-link"
          href="{{ item.url }}"
        >
          {{ item.text }}
        </a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
</ol>
#}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
{% for link in items %}
  {
    "@type": "ListItem",
    "position": {{ loop.index }},
    "item": {
      "@id": "{{ link.url }}",
      "name": "{{ link.text }}"
    }
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]}
</script>
