.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  @include z-index(header);

  transition: transform $animation--duration--s $animation--timing--default;

  .headroom--pinned & {
    transform: translate3d(0, 0, 0);

    .navigation--open & {
      transform: none;
    }
  }

  .headroom--unpinned & {
    transform: translate3d(0, -100%, 0);
  }

  .toolbar-fixed & {
    margin-top: 39PX;
  }

  .toolbar-tray-open & {
    margin-top: 79PX;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    max-width: $max-width;
    margin: 0 auto;

    background-color: $color--white;

    @include to($breakpoint--mobile) {
      height: $header-height-s;
      padding: $header-padding-s $page--margin--s;
    }

    @include from($breakpoint--desktop) {
      height: $header-height-m;
      padding: $header-padding-m $page--margin--m;
    }
  }
}
