@use "sass:math";

h1 {
  @include font-style(heading-l);
  margin: #{$font--line-height--m}em 0 #{math.div($font--line-height--m , 4)}em;
}

h2 {
  @include font-style(heading-m);
  margin: #{$font--line-height--m}em 0 #{math.div($font--line-height--m , 4)}em;
}

h3 {
  @include font-style(heading-s);
  margin: #{$font--line-height--m}em 0 #{math.div($font--line-height--m , 4)}em;
}

h4 {
  @include font-style(heading-s);
  margin: #{$font--line-height--m}em 0 #{math.div($font--line-height--m , 4)}em;
}
