@use "sass:math";

.map {
  width: 100%;
  @include to($breakpoint--mobile) {
    @include aspect-ratio-parent(math.div(3, 2));
  }
  @include from($breakpoint--desktop) {
    @include aspect-ratio-parent(math.div(16, 9));
  }

  .geolocation-formatter-map-wrapper {
    @include aspect-ratio-child;
  }
}

.geolocation-google-map > div {
  background: none !important;
}
