@use "sass:math";

@mixin button() {
  display: inline-block;
  color: $color--white;
  background-color: $color--black;
  border: $border--default;
  padding: 10px 15px;
  text-align: center;

  margin-top: 5px;
  cursor: pointer;

  transition: color $animation--duration--xs $animation--timing--default, background-color $animation--duration--xs $animation--timing--default;

  @include from($breakpoint--desktop) {
    padding: 10px 15px;
    margin-top: 10px;
  }

  &:focus {
    @include focus-style;
    border: $border--default;
  }
  &:hover {
    background-color: $color--white;
    color: $color--black;
  }
}

@mixin link-button {
  @include button;
  @include underline-remove;
  &:hover {
    opacity: 1;
  }
}

@mixin print($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value
  }
}

@mixin font-style($name, $font-styles: $font--styles, $font-sizes: $font--sizes) {
  $font-style: map-get($font-styles, $name);
  @include print-font-style($font-style, $font-sizes);
}

@mixin font-size($name, $font-sizes: $font--sizes) {
  $font-size: map-get($font-sizes, $name);
  @include print-font-size($font-size, $font-sizes);
}

@mixin print-font-style($font-style, $font-sizes: $font--sizes) {
  @each $breakpoint, $style in $font-style {
    $font-size: map-get($font-sizes, $style);
    @include from($breakpoint) {
      @include print($font-size);
    }
  }
}

@mixin print-font-size($font-size, $font-sizes: $font--sizes) {
  @include from(xs) {
    @include print($font-size);
  }
}

// REM CALC
@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 {
    @return convert-to-rem(nth($values, 1), $base-value);
  }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

// CONVERT TO REM
@function convert-to-rem($value, $base-value: $rem-base) {
  $value: math.div(strip-unit($value), strip-unit($base-value)) * 1rem;
  @if ($value == 0rem) {
    $value: 0;
  }
  // Turn 0rem into 0
  @return $value;
}

// STRIP UNIT
@function strip-unit($num) {
  @return math.div($num, $num * 0 + 1);
}

@mixin hide-text() {
  $approximate-em-value: math.div(12px, 1em);
  $wider-than-any-screen: -9999em;
  text-indent: $wider-than-any-screen * $approximate-em-value;
  overflow: hidden;
  text-align: left;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin max-width($max-width) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function get-font-size-relative-margin($font-size, $top: true, $font--cap-height: $font--cap-height, $font--cap-offset: $font--cap-offset, $font--sizes: $font--sizes) {
  $line-height-value: map-get($font-size, line-height);
  $font-size-value: map-get($font-size, font-size);
  $line-height-difference: math.div(($line-height-value * $font-size-value ) - $font-size-value, 2);
  $size-difference: math.div($font-size-value - ($font-size-value * $font--cap-height), 2);
  $margin: -($line-height-difference + $size-difference);
  @if ($top) {
    $margin: $margin - math.div($font-size-value * $font--cap-offset, 2);
  }
  @else {
    $margin: $margin + math.div($font-size-value * $font--cap-offset, 2);
  }
  @return $margin;
}

@function font-size-relative-margin($margin, $font-size-names: (), $top: true, $font--cap-height: $font--cap-height, $font--cap-offset: $font--cap-offset, $font--sizes: $font--sizes) {
  @each $style in $font-size-names {
    $font-size: map-get($font--sizes, $style);
    $margin: $margin + get-font-size-relative-margin($font-size, $top, $font--cap-height, $font--cap-offset);
  }
  @return $margin;
}

@mixin font-cap-margin($font--size) {
  margin: font-size-relative-margin(0, ($font--size), true) 0 font-size-relative-margin(0, ($font--size), false);
}

@mixin fluid-size(
  $min-viewport-width,
  $max-viewport-width,
  $min-value,
  $max-value
) {
  font-size: calc(
    #{strip-unit($min-value)}PX
    + #{strip-unit($max-value - $min-value)}
    * (100vw - #{$min-viewport-width})
    / #{strip-unit($max-viewport-width - $min-viewport-width)}
  );
}

@mixin hover($opactiy: $opactiy-m, $selector: '&:hover', $speed: $animation--duration--s) {
  transition: opacity $speed $animation--timing--default;
  #{$selector} {
    opacity: $opactiy;
  }
}

@mixin grid($gutter: $grid--gutter--default, $flex-wrap: wrap) {
  display: flex;
  flex-wrap: $flex-wrap;
  margin-left: -#{math.div($gutter, 2)};
  margin-right: -#{math.div($gutter, 2)};
}

@mixin grid-item($width, $gutter: $grid--gutter--default) {
  @if ($width) {
    flex-basis: $width;
    max-width: $width;
  }
  padding: 0 math.div($gutter, 2);
  box-sizing: border-box;
}

@function grid-unit($width) {
  @return math.div(100%, 8) * $width;
}

@mixin underline {
  @include underline-text-decoration;
}

@mixin underline-text-decoration {
  text-decoration-line: underline;
}


@mixin underline-background($color: $color--text--underline, $width: $text-underline-width, $offset: $text-underline-position, $background: $color--white, $text-underline-gap-minimum: $text-underline-gap-minimum) {
  text-decoration: none;
  background-image: linear-gradient(to top, transparent, transparent $offset, $color $offset, $color calc(#{$offset} + #{$width}), transparent calc(#{$offset} + #{$width}));
  text-shadow:
    #{$text-underline-gap-minimum} 0 $background,
    -#{$text-underline-gap-minimum} 0 $background,
    #{$text-underline-gap-minimum} -#{$text-underline-gap-minimum} $background,
    -#{$text-underline-gap-minimum} -#{$text-underline-gap-minimum} $background,
}

@mixin underline-background-fancy($text-underline-opacity: $text-underline-opacity, $text-underline-color: $color--text--underline, $text-underline-background-color: $text-underline-background-color, $text-underline-position: $text-underline-position, $text-underline-size: $text-underline-width, $text-underline-gap: $text-underline-gap, $text-underline-gap-minimum: $text-underline-gap-minimum) {
  text-decoration: none;
  //display: inline-block;
  box-shadow:
    inset 0 calc(#{$text-underline-position} + #{$text-underline-size}) 0 0 $text-underline-background-color,
    inset 0 $text-underline-position 0 0 rgba($text-underline-background-color, $text-underline-opacity),
    inset 0 $text-underline-position 0 0 $text-underline-color;
  text-shadow:
    $text-underline-gap 0 $text-underline-background-color,
    -$text-underline-gap 0 $text-underline-background-color,
    $text-underline-gap-minimum 0 $text-underline-background-color,
    -$text-underline-gap-minimum 0 $text-underline-background-color;
}

@mixin underline-remove {
  @include underline-text-decoration-remove;
}

@mixin underline-text-decoration-remove {
  text-decoration: none;
}


@mixin underline-background-remove {
  background-image: none;
}

@mixin underline-element() {
  white-space: nowrap;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: -2px;
    width: 100%;
  }
}

@mixin underline-element-remove {
  white-space: normal;
  &:before {
    content: normal;
    display: none;
  }
}

@mixin z-index($key) {
  z-index: map-get($z-index, $key);
}

@mixin aspect-ratio-parent($ratio) {
  padding-top: #{math.div(1, $ratio) * 100%};
  position: relative;
  overflow: hidden;
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin aspect-ratio-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin icon-size($size: $icon-size--m) {
  width: $size;
  height: $size;
}

@mixin icon-size-width($width: $icon-size--m) {
  width: $width;
  height: auto;
  > svg {
    width: 100%;
    height: auto;
  }
}

@mixin icon-size-height($height: $icon-size--m) {
  height: $height;
  width: auto;
  > svg {
    height: 100%;
    width: auto;
  }
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@mixin input-default-styles {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  transition: border-color $animation--duration--s $animation--timing--default, box-shadow $animation--duration--s $animation--timing--default;

  appearance: none;
  border-radius: 0;
  border: $border--light;
  box-sizing: border-box;
  padding: 5px;
  background: transparent;

  &:focus {
    @include focus-style;
    border: $border--default;
  }
}

@mixin input-custom-element {
  position: absolute;
  top: $form-item--custom-element-vertical-offset--s;
  left: -$form-item--custom-element-horizontal-offset--s;
  display: block;
  content: "";
  width: math.div($form-item--custom-element-size--s, 3);
  height: math.div($form-item--custom-element-size--s, 3);
  padding: math.div($form-item--custom-element-size--s, 3);
}

@mixin input-custom-element-border {
  @include input-custom-element;
  padding: math.div($form-item--custom-element-size--s, 3);
}

@mixin input-custom-element-value {
  @include input-custom-element;
  background-clip: content-box;
}

@mixin input-custom-element-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: $form-item--custom-element-horizontal-offset--s;
  align-items: center;
  align-content: center;
}

@mixin form-item-margins {
  @include to($breakpoint--mobile) {
    margin: 20px 0;
  }

  @include from($breakpoint--desktop) {
    margin: 30px 0;
  }
}

@mixin form-item-margins-small {
  @include to($breakpoint--mobile) {
    margin: 10px 0;
  }

  @include from($breakpoint--desktop) {
    margin: 20px 0;
  }
}

@mixin input-custom-element-label {
  position: relative;
}

@mixin full-width {
  margin-left: -$page--margin--s;
  margin-right: -$page--margin--s;

  @include from($breakpoint--desktop) {
    margin-left: full-width-percentage($page--margin--m);
    margin-right: full-width-percentage($page--margin--m);
  }
}

@function full-width-percentage($percentage) {
  @return -(math.div(percentage(math.div(100%, 100% - $percentage * 2)-1), 2));
}

@mixin content-container-default() {
  @include from($breakpoint--desktop) {
    width: grid-unit(6);
    margin-left: grid-unit(1);
  }
}

@mixin content-indent() {
  @include from($breakpoint--desktop) {
    margin-left: grid-unit(1);
  }
}

@mixin content-container-large() {
  @include from($breakpoint--desktop) {
    width: grid-unit(7);
    margin-left: grid-unit(1);
  }
}

@mixin content-container-small() {
  @include from($breakpoint--desktop) {
    width: grid-unit(4);
    margin-left: grid-unit(2);
  }
}

@mixin vertical-margin-s() {
  @include to($breakpoint--mobile) {
    margin-bottom: $gutter--s;
  }
  @include from($breakpoint--desktop) {
    margin-bottom: $gutter--m;
  }
}

@mixin vertical-margin-m() {
  @include to($breakpoint--mobile) {
    margin-bottom: $gutter--l;
  }
  @include from($breakpoint--desktop) {
    margin-bottom: $gutter--xl;
  }
}

@mixin vertical-margin-l() {
  @include to($breakpoint--mobile) {
    margin-bottom: $gutter--l;
  }
  @include from($breakpoint--desktop) {
    margin-bottom: $gutter--xxl;
  }
}

@mixin vertical-margin-xl() {
  @include to($breakpoint--mobile) {
    margin-bottom: $gutter--l;
  }
  @include from($breakpoint--desktop) {
    margin-bottom: $gutter--xxxl;
  }
}

@mixin capitals {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin focus {
  &:focus {
    @include focus-style;
  }
}

@mixin focus-style {
  outline: 0;
  box-shadow: $outline--default;
}


@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

@mixin focusable {
  &:focus-within {
    position: relative !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }
}

@mixin reset-button-styles {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  -webkit-appearance: none;
}

@mixin form-item-floating-label {
  position: relative;
  input,
  textarea {
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        @include floating-label;
      }
    }

    &::placeholder {
      color: transparent;
    }
  }
  label {
    position: absolute;
    top: calc(#{$form-item--padding-horizontal--s} + 1.5px);
    left: calc(#{$form-item--padding--s} + 1px);
    user-select: none;
    cursor: text;
  }
}

@mixin form-item-label {
  position: relative;
  input,
  select {

    &::placeholder {
      color: transparent;
    }
  }
  label {
    @include floating-label;
  }
}

@mixin floating-label {
  position: absolute;
  transform: translateY(-100%);
  top: -3px;
  left: 0;
  @include font-style(s);
  user-select: none;
  cursor: text;
}
