//$font-directory: "../../fonts/" !default;
//
//@font-face{
//  font-family: "FONT";
//  src: url('#{$font-directory}FONT.woff2') format('woff2'),
//  url('#{$font-directory}FONT.woff') format('woff');
//  font-weight: normal;
//  font-display: swap;
//}

/* Fonts */
$font--helvetica: "Helvetica Neue", Liberation Sans, system-ui, sans-serif;
$font--base: $font--helvetica;


$font--size--base: 16px;
$font--line-height--base: 20px;
$font--rhythm-unit: 'rem';
$font--cap-height: 0.705;
$font--cap-offset: -0.2;

$font--line-height--s: 1;
$font--line-height--m: 1.2;
$font--line-height--l: 1.4;

/* Font sizes*/

$font--sizes: (
  s-mobile: (
    font-size: 13px,
    line-height: $font--line-height--m,
  ),
  s-desktop: (
    font-size: 15px,
    line-height: $font--line-height--m,
  ),
  m-mobile: (
    font-size: 16px,
    line-height: $font--line-height--m,
  ),
  m-desktop: (
    font-size: 20px,
    line-height: $font--line-height--m,
  ),
  l-mobile: (
    font-size: 20px,
    line-height: $font--line-height--l,
  ),
  l-desktop: (
    font-size: 25px,
    line-height: $font--line-height--l,
  ),
  heading-s-mobile: (
    font-size: 16px,
    line-height: $font--line-height--m,
  ),
  heading-s-desktop: (
    font-size: 20px,
    line-height: $font--line-height--m,
  ),
  heading-m-mobile: (
    font-size: 20px,
    line-height: $font--line-height--s,
  ),
  heading-m-desktop: (
    font-size: 32px,
    line-height: $font--line-height--s,
  ),
  heading-l-mobile: (
    font-size: 32px,
    line-height: $font--line-height--s,
  ),
  heading-l-desktop: (
    font-size: 48px,
    line-height: $font--line-height--s,
  ),
);

$font--styles: (
  s: (
    xs: s-mobile,
    l: s-desktop,
  ),
  m: (
    xs: m-mobile,
    l: m-desktop,
  ),
  l: (
    xs: l-mobile,
    l: l-desktop,
  ),
  heading-s: (
    xs: heading-s-mobile,
    l: heading-s-desktop,
  ),
  heading-m: (
    xs: heading-m-mobile,
    l: heading-m-desktop,
  ),
  heading-l: (
    xs: heading-l-mobile,
    l: heading-l-desktop,
  ),
);
