html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  @include to($breakpoint--mobile) {
    @include fluid-size(
      $min-viewport-width: 320px,
      $max-viewport-width: $breakpoint--l,
      $min-value: 16px,
      $max-value: 16px * 1.4
    );
    scroll-padding-top: $header--total-height-s;
  }

  @include from($breakpoint--desktop) {
    @include fluid-size(
      $min-viewport-width: 1280px,
      $max-viewport-width: 1920px,
      $min-value: 16px,
      $max-value: 16px * 1.2
    );
    scroll-padding-top: $header--total-height-m;
  }
}
