{% include '@components/03-modules/skip-link/skip-link.twig' %}

<div class="page-container{{ modifier ? ' page-container--' ~ modifier }}">
  {% block content %}
    {{ content }}
  {% endblock %}
</div>

{#
{% embed '@components/03-modules/photoswipe/photoswipe.twig' %}{% endembed %}
#}
