.back-link {
  display: inline-flex;
  align-items: center;
  padding: $gutter--s 0;

  @include underline-remove;
  @include font-style(s);
  color: transparent;

  &:hover {
    color: inherit;
  }

  .icon {
    margin-top: $gutter--xxs;
    margin-bottom: $gutter--xs;
    margin-right: $gutter--xs;
    color: $color--black;
    width: $icon-size--s;
    height: $icon-size--s;
  }
}
