.menu {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  @include from($breakpoint--desktop) {
    &.menu--level-0 {
      display: flex;
    }
  }

  &--level-1 {
    @include to($breakpoint--mobile) {
      margin-left: $gutter--l;
    }
  }

  &--main {
    @include from($breakpoint--desktop) {

      &.menu--level-1 {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        background-color: $color--white;
        padding: $gutter--xs 0;

        .menu__item:hover &,
        .menu__item-link:focus + & {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }


  &__item {
    &--main {
      @include to($breakpoint--mobile) {
        @include font-size(l-mobile)
      }

      &:focus-within {
        > .menu {
          opacity: 1;
          visibility: visible;
        }
      }

      &.menu__item--level-0 {
        @include from($breakpoint--desktop) {
          margin: 0 0 0 $gutter--m;
        }
      }
    }

    &--footer {
    }
  }

  &__item-link {
    @include underline-remove;
    padding: $gutter--xxs 0;
    display: inline-block;

    &[type=button] {
      @include reset-button-styles;
    }

    @include to($breakpoint--mobile) {
      padding: $gutter--xxs 0;
    }
    &--level-1 {
      @include from($breakpoint--desktop) {
        padding: $gutter--xxs $gutter--s;
        white-space: nowrap;
      }
    }


    &--active_trail {
      @include underline;
    }
  }
}
