.slideshow {
  position: relative;
  margin-bottom: $gutter--xl;

  &__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: static;
  }

  &__item {
    margin: 0 1PX 0 0;
    width: 100%;
  }

  /*&__counter {
    position: absolute;
    top: $gutter--xxs;
    left: $gutter--xxs;
    font-feature-settings: "tnum";
    z-index: 1;
    @include font-style(s);
    html:not(.touchevents) & {
      display: none;
    }
  }*/
}

/* Make space for flickity dots */
.flickity-viewport {
  padding-bottom: 1em;
}

.flickity-page-dots {
  bottom: 0;
}

.flickity-prev-next-button {
  background-color: $color--white;
  transition: opacity $animation--duration--s $animation--timing--default;

  &:hover {
    opacity: $opactiy-s;
  }

  svg {
    color: $color--black;
  }
  /*
  width: 40px;
  height: 40px;
  border-radius: 0;
  background-color: transparent !important;

  &:hover {
    background-color: transparent;
  }

  &.previous {
    left: 0;
    background: url("/themes/cimacitta/dist/images/arrow-left.svg") no-repeat;
    background-position: left $gutter--m center;
    background-size: $icon-size--m;
  }

  &.next {
    right: 0;
    background: url("/themes/cimacitta/dist/images/arrow-right.svg") no-repeat;
    background-position: right $gutter--m center;
    background-size: $icon-size--m;
  }

  svg {
    //display: none;
  }
   */
}
