<section class="slideshow{{ modifier ? ' slideshow--' ~ modifier }}"{% if ratio %} style="padding-bottom: {{ ratio }}%"{% endif %}>
  <!--<div class="slideshow__counter">1/{{ images|length }}</div>-->
  <ul class="slideshow__item-list">
    {% for image in images %}
      <li class="slideshow__item">
        <div class="slideshow__item-wrapper">
          {% block image %}
            <img src="{{ image }}" alt="alt">
          {% endblock %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
