<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--<link media="all" rel="stylesheet" href="//fast.fonts.net/cssapi/f97d8879-ee63-4512-a7a6-8b77900f268d.css">-->
	<!--<link media="all" rel="stylesheet" href="/themes/starterkit/dist/node_modules/flickity/dist/flickity.min.css">-->
	<!--<link media="all" rel="stylesheet" href="/themes/starterkit/dist/node_modules/photoswipe/dist/photoswipe.css">-->
	<!--<link media="all" rel="stylesheet" href="/themes/starterkit/dist/node_modules/photoswipe/dist/default-skin/default-skin.css">-->
	<link media="all" rel="stylesheet" href="/themes/starterkit/dist/css/styles.css">
	<title>Preview Layout</title>
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div>
		{{ yield }}
	</div>

	<script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.expFactor = 3;
    window.lazySizesConfig.loadMode = 3;
    window.lazySizesConfig.loadHidden = false;
	</script>

	<!-- Core JS -->
	<script src="/themes/starterkit/dist/drupal-core-assets/vendor/domready/ready.min.js"></script>
	<script src="/themes/starterkit/dist/drupal-core-assets/vendor/jquery/jquery.min.js?v=3.2.1"></script>
	<script src="/themes/starterkit/dist/drupal-core-misc/drupalSettingsLoader.js?v=8.6.3"></script>
	<script src="/themes/starterkit/dist/drupal-core-misc/drupal.js"></script>
	<script src="/themes/starterkit/dist/drupal-core-misc/drupal.init.js"></script>

	<!-- Theme JS libraries -->
	<script src="/themes/starterkit/dist/node_modules/lazysizes/lazysizes.min.js"></script>
	<script src="/themes/starterkit/dist/node_modules/lazysizes/plugins/aspectratio/ls.aspectratio.min.js"></script>
	<script src="/themes/starterkit/dist/node_modules/headroom.js/dist/headroom.min.js"></script>
	<script src="/themes/starterkit/dist/node_modules/headroom.js/dist/jQuery.headroom.min.js"></script>
	<script src="/themes/starterkit/dist/node_modules/svg4everybody/dist/svg4everybody.min.js"></script>
	<!--<script src="/themes/starterkit/dist/node_modules/flickity/dist/flickity.pkgd.min.js"></script>-->
	<!--<<script src="/themes/starterkit/dist/node_modules/jquery-accordion/js/jquery.accordion.js"></script>-->
	<!--<<script src="/themes/starterkit/dist/js/modernizr.js"></script>-->
	<!--<<script src="/themes/starterkit/dist/node_modules/photoswipe/dist/photoswipe.min.js"></script>-->
	<!--<<script src="/themes/starterkit/dist/node_modules/photoswipe/dist/photoswipe-ui-default.min.js"></script>-->

	<!-- Theme JS -->
	<script src="/themes/starterkit/dist/js/main.js"></script>
</body>
</html>
