.page-footer {
  box-sizing: border-box;

  @include to($breakpoint--desktop) {
    min-height: $footer-height-s;
  }

  @include from($breakpoint--desktop) {
    min-height: $footer-height-m;
  }

  &__wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include to($breakpoint--desktop) {
      padding: $footer-padding-s $page--margin--s;
    }

    @include from($breakpoint--desktop) {
      padding: $footer-padding-m $page--margin--m;
    }
  }
}
