@use "sass:math";

.language-switch {
  display: flex;
  text-transform: uppercase;

  @include to($breakpoint--mobile) {
    margin: 0 math.div(-$gutter--s, 2);
  }

  .language-link {
    @include underline-remove;
    @include hover();

    @include to($breakpoint--mobile) {
      margin: 0 math.div($gutter--s, 2);
    }

    @include from($breakpoint--desktop) {
      margin-left: $gutter--m;
    }

    &.is-active {
      @include underline;
    }
  }
}
