{#
/**
 * @file
 * Default theme implementation of a viewfield.
 *
 * Available variables:
 * - output: The rendered view.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {% if output %}
    {{ output }}
  {% endif %}
{% endapply %}
