#sliding-popup .eu-cookie-compliance {
  $color--background: $color--white;
  $color--text: $color--black;

  &-banner {
    padding-top: $gutter--xs;
    color: $color--text;
    border-top: $border--default;
    background: $color--background;
    @include from($breakpoint--mobile) {
      border-width: $border-width;
    }

    @media print {
      display: none;
    }
  }

  &-content {
    justify-content: space-between;
    background: $color--background;
    color: $color--text;
    max-width: none;
    box-sizing: border-box;

    text-align: center;

    @include to($breakpoint--mobile) {
      padding: 0 $page--margin--s;
    }
    @include from(xs) {
      //display: flex;
    }
    @include from($breakpoint--desktop) {
      padding: 0 $page--margin--m;
    }

    p {
      color: $color--text;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }

  &-message {
    max-width: none;
    @include to(s) {
      margin-bottom: $gutter--s;
    }
  }

  &-buttons {
    max-width: none;
    float: none;
    text-align: center;
  }

  &-secondary-button {
    @include button;
  }

  &-more-button {
    padding: 0;
    border: 0;
    background: none;
    @include underline;
    font-size: inherit;
    line-height: inherit;
    color: $color--text;
    outline: none !important;
  }

  &-default-button {
    margin-left: 0.5em;
    white-space: nowrap;
  }
}

.sliding-popup-bottom {
  width: 100%;
}
