{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 */
#}

<div class="eu-cookie-compliance-banner eu-cookie-compliance-banner-info">
  <div class="popup-content info eu-cookie-compliance-content">
    <div id="popup-text" class="eu-cookie-compliance-message">
      {{ message }}
      {% if disagree_button %}
        <button type="button" class="find-more-button eu-cookie-compliance-more-button">{{ disagree_button }}</button>
      {% endif %}
    </div>
    <div id="popup-buttons" class="eu-cookie-compliance-buttons">
      <button type="button" class="{{ primary_button_class }}">{{ agree_button }}</button>
    </div>
  </div>
</div>
