%button--styles {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  display: block;

  background-clip: border-box;
  box-sizing: content-box;

  @include to($breakpoint--mobile) {
    width: $icon-size--s;
    height: $icon-size--s;
    background-size: $icon-size--s;
  }

  @include from($breakpoint--desktop) {
    width: $icon-size--m;
    height: $icon-size--m;
    background-size: $icon-size--m;
  }
}

.pswp {
  &__bg {
    background-color: $color--white;
  }

  &__preloader {
    height: 0;
    width: 0;
  }
  &__top-bar {
    background: none;
    @include to($breakpoint--mobile) {
      height: $icon-size--s;
    }
  }

  .pswp__button {
    opacity: 1;
    &::before {
      @extend %button--styles;
    }
    &--close {
      top: $gutter--s;
      background: none;
      &::before {
        right: $gutter--s;
        background-image: url("/themes/starterkit/dist/images/icons/menu-close.svg");
      }
    }
    &--arrow--left::before {
      left: $gutter--s;
      background-image: url("/themes/starterkit/dist/images/icons/arrow-left.svg");
      background-position-x: left;

    }
    &--arrow--right::before {
      right: $gutter--s;
      background-image: url("/themes/starterkit/dist/images/icons/arrow-right.svg");
      background-position-x: right;
    }
  }

  &__caption {
    background-color: $color--white;

    .pswp__ui--idle & {
      opacity: 0;
    }
  }
  .pswp__caption__center {
    text-align: center;
    @include font-style(s);
    max-width: 600px;
    background-color: $color--white;
    color: $color--black;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
