@use "sass:math";

.media {

  &--video,
  &--remote_video {
    @include aspect-ratio-parent(math.div(16, 9));

    iframe {
      @include aspect-ratio-child;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &--image {
    figcaption {
      margin-top: $gutter--xs;
      @include font-style(s);
    }
  }
}
