{% if not src %}
  {% set src = 'https://source.unsplash.com/random?sig=' ~ random() %}
{% endif %}

<figure class="media media--image">
  {% block content %}
    <img src="{{ src }}" alt="alt">
  {% endblock %}
</figure>
