input[type="text"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="button"],
input[type="submit"] {
  @include input-default-styles;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"] {
  display: block;
  width: 100%;
}

input[type="button"],
input[type="submit"] {
  @include button;
}
