@use "sass:math";

.form-item {
  &--type-radio {
    @include input-custom-element-wrapper;
    input[type="radio"] {
      &:checked {
        ~ label {
          &::before {
            border-color: $color--black;
            box-shadow: inset 0 0 0 $border-width $color--black;
          }
          &::after {
            opacity: 1;
          }
        }
      }
      &:focus {
        ~ label {
          &::before {
            box-shadow: $outline--default;
          }
        }
      }
    }
    label {
      @include input-custom-element-label;

      &:hover {
        &::before {
          border-color: $color--black;
        }
      }

      &::before {
        @include input-custom-element-border;
        border: $border-width solid $color--black;
        border-radius: $form-item--custom-element-size--s;
        transition: border-color $animation--duration--s $animation--timing--default, box-shadow $animation--duration--s $animation--timing--default;
      }
      &::after {
        @include input-custom-element-value;
        opacity: 0;
        border-radius: $form-item--custom-element-size--s;
        background-color: $color--black;
        width: math.div($form-item--custom-element-size--s, 5) * 2;
        height: math.div($form-item--custom-element-size--s, 5) * 2;
        padding: calc(#{$border-width} + #{math.div($form-item--custom-element-size--s, 5) * 1.5});
      }
    }
  }
  /* Make form item margins a lot smaller if the item is in a group of radios */
  .form-radios &,
  .js-webform-radios & {
    @include form-item-margins-small;

  }
}
