@use "sass:math";

.form-item {
  &--type-checkbox {
    @include input-custom-element-wrapper;
    input[type="checkbox"] {
      &:checked {
        ~ label {
          &::before {
            border-color: $color--black;
            box-shadow: inset 0 0 0 $border-width $color--black;
          }
          &::after {
            opacity: 1;
          }
        }
      }
      &:focus {
        ~ label {
          &::before {
            box-shadow: $outline--default;
          }
        }
      }
    }
    label {
      @include input-custom-element-label;

      &:hover {
        &::before {
          border-color: $color--black;
        }
      }

      &::before {
        @include input-custom-element-border;
        border: $border-width solid $color--black;
        transition: border-color $animation--duration--s $animation--timing--default, box-shadow $animation--duration--s $animation--timing--default;
      }
      &::after {
        @include input-custom-element-value;
        opacity: 0;
        transition: opacity $animation--duration--xs $animation--timing--default;
        padding: calc(#{$border-width} + #{math.div($form-item--custom-element-size--s, 3)});
        background-color: $color--black;
      }
    }
  }
  /* Make form item margins a lot smaller if the item is in a group of checkboxes */
  .form-checkboxes & {
    @include form-item-margins-small;
  }
}
