.form-item {
  @include form-item-margins;

  .description {
    width: 100%;
    margin-top: $gutter--xxs;
    @include font-style(s);
  }

  input {
    &.error {
      border-color: $color--error--medium;
    }
  }

  &--type-textfield,
  &--type-email,
  &--type-password,
  &--type-select,
  &--type-tel,
  &--type-textarea,
  &--type-number {
    @include form-item-floating-label;
  }
}
